  <div class="progress">
    <div class="full-bar"> </div>
    <% if skill == 'basic' then %>
      <div class="progress-bar" style="width: <%= 100*progress %>%;"> </div>
      <p class="progress-number" style="left: <%= [0, 100*progress - 15].max %>%;"><%= (100*progress).round %>&#37</p>
    <% else %>
      <div class="progress-bar" style="width: 40%;"> </div>
      <p class="progress-number" style="left: 30%;">40&#37</p>
    <% end %>
  </div>
