<h1 class='question_text' id='<%= @question.id %>'><%= @question.prompt %></h1>
<ul>
  <% @question.answers.shuffle.each_with_index do |answer, index| %>
    <li class='answer' id='<%= answer.id %>'>
      <div class='label'>
      </div>
      <p class='answer_text'>
        <%= answer.answer_text %>
      </p>
    </li>
  <% end %>
  <p class="hint"></p>
</ul>
