<h1><%= @question.prompt %><h1>
<ul>
  <% @question.answers.each_with_index do |answer, index| %>
    <li class='answer'>
      <span class='label'>
        <%= ('A'..'Z').to_a[index] %>
      </span>
    <%= answer.answer_text %>
    </li>
  <% end %>
</ul>
