<div id="kids-div">
  <h1>Welcome Kids!</h1>
  <p>Learn how to eat healthy! Run through the different lessons on your user page to get yourself on the right track to establishing healthy eating habits. Track your progress in the side bar and reach the goal of planning your own meals! How quickly can you make it through all of the lessons? </p>
  <br/>

  <p>One thing you might be thinking is: “why do I care?” Well, you know all those fun things you like to do? Like playing sports, riding your bike, and roller blading? Those things are harder for us to do when we’re feeling crummy from bad food. If you create the right balance in your diet, you’ll have all the energy you want!</p>
  <br/>

  <p>If that doesn’t have you jumping out of your seat to whip your diet into shape, we’ve also talked with Mom and Dad about something you’ll love. For every lesson you complete, you’ll receive one virtual Cookie. You can keep track of these virtual Cookies right next to your user information. Trade in these virtual Cookies with your Mom and Dad for prizes in real life!</p>
</div>
