h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", sans-serif;
}

h1 {
	font-size: 40px;
	color: $dark-grey;
}

h2 {
	text-transform: uppercase;
	font-size: 25px;
	color: $dark-grey;
}

h3, h6 {
	color: $dark-grey;
	line-height: 23px;
	font-weight: lighter;
}

h3 { font-size: 19px; }
h6 { font-size: 30px; }

h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: $dark-grey;
}

h5 {
	font-size: 12px;
	text-transform: uppercase;
	color: $light-grey;
}