// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
    .skills {
        font-family: sans-serif;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .answers {
        .answer {
            height: 30px;
            line-height: 30px;
            padding: 10px;
            border-radius: 20px;
            max-width: 600px;
            margin-left: 40px;
            list-style: none;
            font-family: sans-serif;
            cursor: pointer;
            .answer_text {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                margin-left: 10px;
            }
            .label {
                height: 25px;
                width: 25px;
                vertical-align: middle;
                display: inline-block;
                background: $light-grey;
                border-radius: 50%;
                border: 5px solid $light-grey;
            }
        }
        .answer-selected {
            .label {
                background: $primary-color !important;
            }
        }
        li:hover {
            background: #aaa;
            .label {
                border-color: #fff;
            }
        }
    }
}
