// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
    .skills {
        font-family: sans-serif;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .question-text {
        padding: 20px 0 10px 20px;
    }
    .answers {
        .answer {
            height: 30px;
            line-height: 30px;
            padding: 10px;
            border-radius: 20px;
            max-width: 840px;
            margin: 14px 40px;
            list-style: none;
            font-family: sans-serif;
            cursor: pointer;
            .answer-text {
                display: inline-block;
                vertical-align: middle;
                font-size: 24px;
                font-family: "Trebuchet MS", sans-serif;
                color: $dark-grey;
            }
            .label {
                vertical-align: middle;
                display: inline-block;
                background: $light-grey;
                margin-left: 10px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                border: 5px solid $light-grey;
            }
            .hint {
                margin-left: 10px;
                display: inline;
            }
            .fa {
                margin-left: 40px;
            }
            .fa-times {
                color: red;
            }
            .fa-check {
                color: $primary-color;
            }
        }
        .answer-selected {
            height: 50px;
            .label {
                background: $primary-color;
            }
            .label.correct {
                background: $primary-color;
            }
            .label.incorrect {
                background: red;
            }
        }
        li:hover {
            background: #aaa;
            .label {
                border-color: #fff;
            }
            .answer_text {
                color: #fff;
            }
        }
    }
}

.skills {
    display: inline-block;
    padding-top: 25px;
}

#next-question {
    margin-left: 600px;
    margin-bottom: 20px;
    vertical-align: top;
    background: $light-grey;
}
#next-question.active {
    background: $primary-color;
}
#next-question:hover {
    cursor: default;
}
#next-question.active:hover {
    cursor: pointer;
}

#question-container {
    margin-top: 30px;
}
