//not sure why I have to do this?
@import "variables.css.scss";

.users {
    .progress {
        position: relative;
        height: 20px;
    }
    .progress-bar {
        border-radius: 50px;
        height: 100%;
        background: $primary-color;
        position: absolute;
    }
    .full-bar {
        border-radius: 50px;
        height: 100%;
        width: 100%;
        background: $light-grey;
        position: absolute;
    }
    .progress-number {
        margin: 0;
        font-family: "Trebuchet MS", sans-serif;
        position: absolute;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
    }
    font-family: sans-serif;
    h1, p {
        margin: 10px;
    }
    h1 {
        font-size: 40px;
    }
}

#steps-container, #progress-container {
	display: inline-block;
	vertical-align: top;
}

#steps-container {
	width: 58%;
	height: auto;
	margin-right: 53px;
	#food-groups {
		margin-top: 0px;
	}
	.step {
		width: 90%;
		padding-bottom: 60px;
		margin: 30px auto 0 auto;
		.substep {
			padding-top: 48px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 8px 0 8px;
				vertical-align: top;
			}
			li.completed {
				.substep-icon:hover {
					background: $lighter-primary-color;
					cursor: pointer;
				}
			}
			li.locked {
				h3 {
					color: $light-grey;
				}
				.substep-icon {
					background: #dddddd;
				}
				.substep-image {
					-webkit-filter: grayscale(100%) opacity(80%);
				}
			}
			li.current {
				.substep-icon {
					background: #ffffff;
					background-image: image-url("in-progress.svg"); 
					background-repeat: no-repeat;
				}
				.substep-icon:hover {
					-webkit-filter: opacity(90%);
					cursor: pointer;
				}
			}
			.substep-title {
				margin: 15px auto 0 auto;
				width: 150px;
			}
			.substep-icon {
				background: $primary-color;
				display: inline-block;
				height: 110px;
				width: 110px;
				@include border-radius(74px);
				.substep-image{
					display: inline-block;
					margin: 27px auto 0 auto;
					height: 60px;
					width: 60px;
				}
			}
		}
	}
	#meal-planning {
		border-bottom: none;
	}
}

#progress-container {
	width: 23%;
	height: 300px;
}


#food-groups-1 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#food-groups-2 span {background-image: image-url("food-groups-classifying.svg"); background-repeat: no-repeat;}
#serving-sizes-1 span {background-image: image-url("serving-size-why-matter.svg"); background-repeat: no-repeat;}
#serving-sizes-2 span {background-image: image-url("serving-sizes-how-much.svg"); background-repeat: no-repeat;}
#serving-sizes-3 span {background-image: image-url("serving-size-enough-is-enough.svg"); background-repeat: no-repeat;}
#healthy-meals-1 span {background-image: image-url("healthy-meals-missing.svg"); background-repeat: no-repeat;}
#healthy-meals-2 span {background-image: image-url("healthy-meals-eat-this.svg"); background-repeat: no-repeat;}
#healthy-meals-3 span {background-image: image-url("healthy-meals-dessert.svg"); background-repeat: no-repeat;}
#meal-planning-1 span {background-image: image-url("plan-your-daily-meals.svg"); background-repeat: no-repeat;}
