//not sure why I have to do this?
@import "variables.css.scss";

.users {
    font-family: sans-serif;
    h1, p {
        margin: 10px;
    }
    h1 {
        font-size: 40px;
    }
}

#steps-container, #progress-container {
	display: inline-block;
	vertical-align: top;
}

#steps-container {
	width: 70%;
	height: auto;
	margin-right: 25px;
	.step {
		height: 290px;
		width: 90%;
		margin: 30px auto 45px auto;
		border-bottom: 1px solid $light-grey;
		.substep {
			padding-top: 48px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 40px 0 40px;
				vertical-align: top;
			}
			.substep-title {
				margin-top: 15px;
				width: 100px;
			}
			.substep-image {

			}
		}
	}
	#meal-planning {
		border-bottom: none;
	}
}

#progress-container {
	width: 27%;
	height: 300px;
}
