.users {
    font-family: sans-serif;
    h1, p {
        margin: 10px;
    }
    h1 {
        font-size: 40px;
    }
}

#steps-container, #progress-container {
	display: inline-block;
	vertical-align: top;
}

#steps-container {
	width: 70%;
	height: auto;
	margin-right: 25px;
	.step {
		height: 290px;
		width: 90%;
		padding-bottom: 30px;
		margin: 30px auto 45px auto;
		border-bottom: 1px solid $light-grey;
		.substep {
			padding-top: 48px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 25px 0 25px;
				vertical-align: top;
			}
			li.locked {
				h3 {
					color: $light-grey;
				}
				.substep-icon {
					background: #cccccc;
				}
				.substep-image {
					-webkit-filter: grayscale(100%) opacity(30%);
				}
			}
			li.unlocked {
				.substep-icon:hover {
					background: $lighter-primary-color;
				}
			}
			.substep-title {
				margin: 15px auto 0 auto;
				width: 150px;
			}
			.substep-icon {
				background: $primary-color;
				display: inline-block;
				height: 150px;
				width: 150px;
				@include border-radius(74px);
				.substep-image{
					display: inline-block;
					margin: 30px auto 0 auto;
					height: 100px;
					width: 100px;
				}
			}
		}
	}
	#meal-planning {
		border-bottom: none;
	}
}

#progress-container {
	width: 27%;
	height: 300px;
}


#food-groups-1 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#food-groups-2 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#serving-sizes-1 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#serving-sizes-2 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#serving-sizes-3 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#healthy-meals-1 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#healthy-meals-2 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#healthy-meals-3 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
#meal-planning-1 span {background-image: image-url("food-groups-basics.svg"); background-repeat: no-repeat;}
