/* --------------- */
/* SASS VARIABLES  */
/* ----------------*/

/* COLOR */

$primary-color: #339966;
$accent-color: #fefced;
$secondary-color: #2f6449;
$light-grey: #d2d2d2;
$dark-grey: #565555;


/* SIZES */
$content-width: 980px;